<!-- FOOTER START -->
<footer>
  <!-- LOGO -->
  <div id="logo-container">
      <div id="logo">
        <a routerLink="/"><img src="assets/images/georgian-college-logo.svg"></a>
      </div>
      <p>Centre for Changemaking & Social Innovation (CCSI)</p>
  </div>
  <!-- FOOTER NAV -->
  <nav>
      <div id="footer-nav">
          <ul>
              <li><a routerLink="/about">ABOUT</a></li>
              <li><a routerLink="/contact">CONTACT US</a></li>
              <li><a routerLink="/privacy">PRIVACY POLICY</a></li>
              <li><a routerLink="/removeyourdata">REMOVE YOUR DATA</a></li>
          </ul>
      </div>
  </nav>
</footer>
<!-- FOOTER END -->
