<!-- CREATE FORM START -->
  <h2>{{pageHeading}}</h2>
  <p>{{pageIntro}}</p>

  <form [formGroup]="createForm" (ngSubmit)="submitListing()" id="create-edit" class="form">
      <fieldset>
          <label for="title">Title:</label>
          <input type="text" id="title" formControlName="title" required />

          <label for="description">Description:</label>
          <textarea id="description" formControlName="description" required></textarea>

          <label for="rent_amount">Rent amount:</label>
          <input type="number" id="rent_amount" formControlName="rent_amount" min="0" required>

          <label for="street_name">Street Name:</label>
          <input type="text" id="street_name" formControlName="street_name" />

          <label for="postal_code">Postal Code:</label>
          <input type="text" id="postal_code" formControlName="postal_code" />

          <label for="source_url">Source Url:</label>
          <input type="text" id="source_url" formControlName="source_url" required>
      </fieldset>
      <fieldset>
          <label for="town">Town:</label>
          <select id="town" formControlName="town" required>
              <option >Barrie</option>
              <option >Bradford</option>
              <option >Collingwood</option>
              <option >Essa</option>
              <option >Innisfil</option>
              <option >Midland</option>
              <option >New Tecumseth</option>
              <option >Orillia</option>
              <option >Severn</option>
              <option >Springwater</option>
               <option >Wasaga</option>
          </select>

          <label for="house_type">Building type:</label>
          <select id="house_type" formControlName="house_type" required>
              <option >Detached</option>
              <option >Semi-detached</option>
              <option >Townhouse</option>
              <option >Apartment</option>
              <option >Condominium</option>
          </select>

          <label for="unit_size">Bedrooms:</label>
          <select id="unit_size" formControlName="unit_size" required>
              <option value="0">Studio</option>
              <option value="1">1 bedroom</option>
              <option value="2">2 bedroom</option>
              <option value="3">3 bedroom</option>
              <option value="4">4+ bedroom</option>
          </select>

          <label for="source">Source website:</label>
          <select id="source" formControlName="source" required>
              <option >Kijiji</option>
              <option >Facebook</option>
              <option >Realtor</option>
              <option >Freerentads</option>
              <option >Agsecure</option>
              <option >Rentals</option>
              <option >Zolo</option>
          </select>

          <label for="month">Month Collected:</label>
          <select id="month" formControlName="month" required>
              <option >January</option>
              <option >February</option>
              <option >March</option>
              <option >April</option>
              <option >May</option>
              <option >June</option>
              <option >July</option>
              <option >August</option>
              <option >September</option>
              <option >October</option>
              <option >November</option>
              <option >December</option>
          </select>

          <label for="utilities_included">Utilities included:</label>
          <select id="utilities_included" formControlName="utilities_included">
              <option value="false">Not Included</option>
              <option value="true">Included</option>
          </select>

          <label for="landlord_type">Landlord type:</label>
          <select id="landlord_type" formControlName="landlord_type">
              <option >Individual</option>
              <option >Company</option>
          </select>

          <label for="length_of_term">Length of term:</label>
          <select id="length_of_term" formControlName="length_of_term">
              <option >Long term</option>
              <option >Short term</option>
          </select>
          <label class="save-btn" for="submit-form">Save</label>
          <button onclick="history.back()">Cancel</button>
      </fieldset>
  <input type="submit" id="submit-form" class="hidden" />
</form>
<!-- CREATE FORM END -->
