<!-- MAIN START -->
  <!-- Headr -->
  <header>
    <h2>{{pageHeading}}</h2>
    <p>{{pageIntro}}</p>
  </header>

  <!-- Quick Data Stats -->
  <section id="quickdata-stats">
    <pop-month></pop-month>
    <avg-rent></avg-rent>
    <pop-type></pop-type>
    <pop-bedroom></pop-bedroom>
  </section> <!-- #quickdata-stats -->

  <!-- Quickdata Pie Charts -->
  <section id="quickdata-piecharts">
    <bedrooms-chart></bedrooms-chart>
    <type-chart></type-chart>
    <month-chart></month-chart>
    <hydro-chart></hydro-chart>
  </section> <!-- #quickdata-piecharts -->
<!-- MAIN END -->
