 <!-- MAIN START -->
  <h2>{{pageHeading}}</h2>
  <p>{{pageIntro}}</p>
  <section id="charts-jump">
    <h3>JUMP TO</h3>
    <a routerLink="" fragment="#rentalsByMonth">Total Listings by Month <i class="fa-solid fa-caret-right"></i></a>
    <a routerLink="" fragment="#rentalsByMonth">Rental Size by Month <i class="fa-solid fa-caret-right"></i></a>
    <a routerLink="" fragment="#rentalsByMonth">Total Rentals By Location <i class="fa-solid fa-caret-right"></i></a>
    <a routerLink="" fragment="#rentalsByMonth">Average Rent by Location <i class="fa-solid fa-caret-right"></i></a>
  </section>
  <section id="charts-header">
    <h4><i class="fa-solid fa-chart-line"></i> Total Listings by Month</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada elit in arcu scelerisque, vitae pulvinar neque lacinia. Maecenas nibh velit, sollicitudin a auctor nec, feugiat sed metus. </p>
 </section>
<total-month-chart></total-month-chart>
<!-- MAIN END -->
